body {
  background-color: rgb(218, 231, 255);
}
.container {
  margin: 0 auto;
  text-align: center;
}

.link {
  margin-bottom: 15px;
}

.link span {
  margin-left: 20px;
  color: rgb(57, 122, 57);
}
