* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5px;
}

span {
	float: left;
}

div>div {
	padding-left: 200px;
	width: 100%;
}
.new {
  margin-bottom: 5px;
}

.text-input input,textarea {
  width: 100%;
}

input[type="radio"] {
  vertical-align: middle;
  margin-right: 3px;
  cursor: pointer;
}

.radio-radio div {
	display: inline;
	padding-left: 0px;
}

@media all and (max-width: 540px) {
	span {
		float: none;
	}

	div>div {
		padding-left: 0px;
	}

	select {
		width: 100%;
	}

	.radio-radio div {
		display: block;
	}
	
	.checkbox-checkbox {
		display: inline;
	}