* {
	box-sizing: border-box;
}

.conteiner {
	background-color: lightseagreen;
}

.nav{
	width: 15%;
	background-color: khaki;
	float: left;
}

.Article {
	width: auto;
	float: left;
}

.footer{
	clear: both;
	background-color: lightcoral;
}

.clear {
	clear: both
}

